* {
  font-family: lato;
  line-height: 1.5em;
}
body {
  background: #eeeeee;
}
#content {
  padding: 10px;
  margin: auto;
  width: 80%;
  background: #fff;
}

.services::after {
  clear: both;
  display: block;
  content: "";
}
.service {
  float: left;
  background: #f2f2f2;
  width: 30.333%;
  padding: 0 5px;
  margin: 0 9px;
}
.service * {
  padding: 10px;
}
.content {
  padding: 10px;
}
.columns {
  margin-top: 20px;
}
.columns::after {
  clear: both;
  display: block;
  content: "";
}
.col {
  width: 45%;
  float: left;
  background: #f0f0f0;
  padding: 14px;
  margin: 0 10px;
}
